<div class="container-fluid footer">
    <div class="row">

      <div class="col-lg-5">
        <h1>Stock Market India</h1>
      </div>

      <div class="col-lg-5" >
        <a routerLink="">Home</a>
        <a routerLink="/groups">Groups</a>
        <a routerLink="/about">About</a>
        <a routerLink="/contact">Contact us</a>
      </div>

      <div class="col-lg-2">
        <a href="#" target="_black"><i class="bi bi-facebook"></i></a>
        <a href="#" target="_black"><i class="bi bi-whatsapp"></i></a>
        <a href="#" target="_black"><i class="bi bi-instagram"></i></a>
        <a href="#" target="_black"><i class="bi bi-telegram"></i></a>
        <a href="#" target="_black"><i class="bi bi-youtube"></i></a>
      </div>

    </div>
  </div>