<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Stock Market India</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="" routerLinkActive="active-link">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/groups" routerLinkActive="active-link">Groups</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/about" routerLinkActive="active-link">About us</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active-link">Contact us</a>
        </li>
      </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/login" routerLinkActive="active-link">Login</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/register" routerLinkActive="active-link">Register</a>
          </li>
        </ul>
    </div>
</nav>